<div class='carousel carousel-animated carousel-animate-fade' data-autoplay="true" data-delay="3000">
  <div class='carousel-container container'>
    <div class='carousel-item has-background is-active'>
      <img class="is-background" src="https://res.cloudinary.com/dgcojyezg/image/upload/c_scale/q_30,fl_progressive/millionspaces/tfdyi2tpmm98gqehrb3j" alt="" width="640" height="400" />
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://res.cloudinary.com/dgcojyezg/image/upload/c_scale/q_30,fl_progressive/millionspaces/kyhxwzlabiixgzluxtpf" alt="" width="640" height="310" />
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://res.cloudinary.com/dgcojyezg/image/upload/c_scale/q_30,fl_progressive/millionspaces/uilwqeduvenq0bpvt241" alt="" width="640" height="310" />
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://res.cloudinary.com/dgcojyezg/image/upload/c_scale/q_30,fl_progressive/millionspaces/hjcvybupaqbwro5d6q0m" alt="" width="640" height="310" />
    </div>
  </div>
  <div class="carousel-navigation is-overlay">
    <div class="carousel-nav-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
