<span class="space-count">5 Spaces Found</span>
<div class="columns is-multiline">
  <app-space-list-item></app-space-list-item>
  <app-space-list-item></app-space-list-item>
  <app-space-list-item></app-space-list-item>
  <app-space-list-item></app-space-list-item>
</div>
