<section class="modal-section">
  <div class="top-bar">
    <span class="icon back"><i class="fas fa-arrow-left"></i></span>
    <span class="header-label">Search</span>
    <span class="icon close" (click)="closeMainSearch()"><i class="fas fa-times"></i></span>
  </div>
  <div class="container modal-wrapper">
    <form #f="ngForm" (keyup.enter)="search(f.value)">
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="text" placeholder="Try, 'Coco Veranda'" name="search" [ngModel]="searchKey" elementFocus>
        </div>
      </div>
    </form>
    <div class="explore-events-wrapper">
      <span class="lbl-explore-events">Explore events</span>
      <div class="event-type-wrapper">
        <span class="lbl-event" (click)="filterByEventType(0)">All</span>
        <span class="lbl-event" (click)="filterByEventType(1)">Meeting</span>
        <span class="lbl-event" (click)="filterByEventType(2)">Sports</span>
        <span class="lbl-event" (click)="filterByEventType(3)">Party</span>
        <span class="lbl-event" (click)="filterByEventType(4)">Co-Working Space</span>
        <span class="lbl-event" (click)="filterByEventType(5)">Press Conference</span>
        <span class="lbl-event" (click)="filterByEventType(6)">Interview</span>
        <span class="lbl-event" (click)="filterByEventType(7)">Training</span>
        <span class="lbl-event" (click)="filterByEventType(8)">Photoshoot</span>
        <span class="lbl-event" (click)="filterByEventType(9)">Hot Desk</span>
        <span class="lbl-event" (click)="filterByEventType(10)">Concert</span>
      </div>
    </div>
  </div>
</section>

