.modal-section {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-label {
    font-weight: 500;
  }
  .close, .back {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    color: #00beff;
  }
}

.modal-wrapper {
  margin-top: 3rem;
}

.input {
  border-radius: 5px;
}

.explore-events-wrapper {
  margin-top: 1rem;
  .lbl-explore-events {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .event-type-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .lbl-event {
      margin: 0.2rem 0.5rem 0.2rem 0;
      display: inline-block;
      padding: 0.5rem 1rem;
      border: 1px solid #d1d1d1;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
