<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12-mobile is-6-tablet">
          <span class="sub-heading">Contact</span>
          <span class="contact-number">011 7 811 811</span>
          <span class="email">hello@millionspaces.com</span>
          <div class="social-wrapper">
            <a href="#">
              <figure class="image social-icon"><img src="../../assets/icons/social/facebook.svg"></figure>
            </a>
            <a href="#">
              <figure class="image social-icon"><img src="../../assets/icons/social/instagram.svg"></figure>
            </a>
            <a href="#">
              <figure class="image social-icon"><img src="../../assets/icons/social/twitter.svg"></figure>
            </a>
          </div>
        </div>
        <div class="column is-12-mobile is-6-tablet">
          <span class="sub-heading">Subscribe</span>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="email" placeholder="Your Email">
            </div>
            <div class="control">
              <a class="button email-subscribe">Join</a>
            </div>
          </div>
        </div>
        <!--<div class="column is-12-mobile is-6-tablet">
          <span class="sub-heading">Company</span>
          <div class="cmp-links">
            <a href="#"><span>Find a Space</span></a>
            <a href="#"><span>List a Space</span></a>
            <a href="#"><span>Blog</span></a>
            <a href="#"><span>About Us</span></a>
            <a href="#"><span>Contact</span></a>
            <a href="#"><span>Terms & Privacy Policy</span></a>
          </div>
        </div>
        <div class="column is-12-mobile is-6-tablet">
          <span class="sub-heading">Connect with us</span>
          <div class="cmp-links">
            <span>61, 1st Level, Janadhipathi Mawatha,
              <br>Colombo 1, Sri Lanka</span>
            <a href="#"><span class="contact-num">(0094) 11 7 811 811</span></a>
            <a href="#"><span>hello@millionspaces.com</span></a>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="copyrights-info">
    <span>© 2018 All Rights Reserved, <a class="link-ms" href="https://m.millionspaces.com">MillionSpaces</a></span>
  </div>
</footer>
