@import "variables.scss";

.footer{
  background-color: #39414C;
  background-image: url('https://res.cloudinary.com/dgcojyezg/image/upload/q_30,fl_progressive/v1534421668/ms-mobile-web/map.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1rem;
  position: relative;
}

.social-icon {
  width: 50px;
  height: 50px;
}
.follow {
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $grey;
}

.social-wrapper {
  a {
    display: inline-block;
    padding: 0.2rem 0.5rem 0.5rem 0;
  }
}

.copyrights-info {
  width: 100%;
  font-size: 0.8rem;
  padding: 0.4rem;
  background: #333C47;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  span {
    color: $white;
  }
}

.sub-heading {
  margin-top: 2rem;
  display: block;
  text-transform: uppercase;
  color: $grey;
  font-size: 1rem;
}

.link-ms {
  color: $light-blue;
}

.contact-number {
  padding: 0 0 0.5rem 0;
  display: block;
  color: $white;
  font-weight: 500;
  font-size: 1.2rem;
}

.email {
  padding: 0.5rem 0;
  display: block;
  color: $light-blue;
  font-weight: 500;
  font-size: 1.2rem;
}

a.email-subscribe {
  background: $yellow;
  border-color: $yellow;
}
