<nav class="navbar is-fixed-top" id="navbar" role="navigation" aria-label="main navigation" [class.sticky]="router.url !== '/'">
  <div class="container">
    <div class="navbar-brand" *ngIf="router.url === '/'">
      <a href="" class="navbar-item" routerLink="/">
        <img [src]="logoPath" alt="logo">
      </a>
      <button class="button navbar-burger" (click)="toggleMenu()">
        <span class="nav-span"></span>
        <span class="nav-span"></span>
        <span class="nav-span"></span>
      </button>
    </div>
    <div class="navbar-brand" *ngIf="router.url !== '/'">
      <a href="" class="navbar-item" routerLink="/" >
        <img src="../../assets/icons/logo.svg" alt="logo">
      </a>
      <button class="button navbar-burger" (click)="toggleMenu()">
        <span class="nav-span sticky"></span>
        <span class="nav-span sticky"></span>
        <span class="nav-span sticky"></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <!--<a class="navbar-item">Millionspaces</a>-->
      </div>
      <!--<div class="navbar-end" *ngIf="true">
        <a class="navbar-item" (click)="showLoginScreen('nav')">Log In</a>
        <a class="navbar-item" (click)="showSignUpScreen()">Sign Up</a>
        <a class="navbar-item" (click)="login()">List my space</a>
      </div>
      <div class="navbar-end" *ngIf="false">
        <a class="navbar-item" (click)="showSignUpScreen()">{{ loggedUser.name }}</a>
        <a class="navbar-item">List my space</a>
        <a class="navbar-item" (click)="logOut()">Log out</a>
      </div>-->
    </div>
  </div>
</nav>



