@import "variables.scss";

.navbar-item img {
  max-height: 2.2rem;
}

.navbar-item, .navbar-link {
  padding: 0.5rem 0.5rem;
}

.navbar {
  background: transparent;
  z-index: 4;
  @include easeOut;
  &.sticky {
    background: $white;
    border-bottom: 1px solid #efefef;
    margin: 0;
    @include easeOut;
  }
}

.navbar-burger {
  border: none;
  color: #030303;
  border-radius: 0px;
  background: transparent;
  .nav-span {
    height: 2px;
    color: #FFFFFF;
    &.sticky {
      color: #00beff;
    }
  }
  &:hover {
    background-color: transparent;
  }
}

.navbar-menu {
  background: rgba(252, 253, 253, 1);
  &.is-active {
    @include easeOut;
  }
  .navbar-item {
    text-align: center;
    color: #181818;
  }
}

.navbar-item {
  text-transform: uppercase;
  &:hover {
    background: transparent;
    color: #030303;
  }
}

.navbar-burger:active, .navbar-burger:hover, .navbar-burger:focus, .navbar-burger:target{
  background: none;
}
