.space-profile-section {
  margin: 4rem 0;
  min-height: 80vh;
  padding: 1rem;
}
.listing-info-block {
  .space-name {
    display: block;
    font-size: 1.1rem;
    color: #00beff;
    font-weight: 500;
  }
  .org-name {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
  }
  .address {
    display: block;
    font-size: 1rem;
    color: #b4b4b4;
  }
  .star-rating {
    color: #dddddd;
    .fa-star {
      font-size: 0.8rem;
      padding-right: 2px;
    }
    .checked {
      color: #ffc517;
    }
  }
}

.space-img-carousel-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.description {
  line-height: 1.2;
}

.section-heading {
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.5rem;
    flex-basis: 80px;
    span {
      display: inline-block;
      padding-top: 2px;
      font-size: 0.8rem;
    }
  }
}

.space-event-types {
  .icon-container {
    flex-wrap: wrap;
  }
}

.space-price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #f5f5f5;
}
