<section class="space-profile-section">
  <div class="listing-info-block">
    <span class="space-name">Meeting Room</span>
    <span class="org-name">Movenpick Hotel Colombo</span>
    <span class="address">32, Ward Pl, Colombo 7, Sri Lanka</span>
    <div class="star-rating">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </div>
  </div>
  <div class="space-img-carousel-container">
    <space-img-carousel></space-img-carousel>
  </div>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <hr>
  <div class="space-overview">
    <span class="section-heading">Overview</span>
    <div class="icon-container">
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>8 Guests</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>8 Guests</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="space-event-types">
    <span class="section-heading">Event Types</span>
    <div class="icon-container">
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>Meeting</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>Party</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>Conference</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>Interview</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>8 Guests</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>8 Guests</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>8 Guests</span>
      </div>
      <div class="icon-wrapper">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/48x48.png">
        </figure>
        <span>8 Guests</span>
      </div>
    </div>
  </div>
  <hr>
  <div class="space-price">
    <span class="section-heading">Price</span>
    <div class="space-price-wrapper">
      <div class="time-period"><span>Mon (8:00AM - 5:00PM)</span></div>
      <div class="cost">LKR 10,000</div>
    </div>
    <div class="space-price-wrapper">
      <div class="time-period"><span>Mon (8:00AM - 5:00PM)</span></div>
      <div class="cost">LKR 10,000</div>
    </div>
    <div class="space-price-wrapper">
      <div class="time-period"><span>Mon (8:00AM - 5:00PM)</span></div>
      <div class="cost">LKR 10,000</div>
    </div>
    <div class="space-price-wrapper">
      <div class="time-period"><span>Mon (8:00AM - 5:00PM)</span></div>
      <div class="cost">LKR 10,000</div>
    </div>
  </div>
</section>
