@import "variables.scss";

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.section-heading {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1rem 0 2rem 0;
}

// hero section start
.hero {
  position: relative;
  background: rgba(0,0,0,.3) url('https://res.cloudinary.com/dgcojyezg/image/upload/c_scale/q_50,fl_progressive/millionspaces/xsqtkbyp15jbhlorqcym');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.hero-body {
  position: absolute;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  bottom: 30px;

  .hero-header-container {
    .title {
      color: $white;
      font-size: 2.2rem;
    }
    .subtitle {
      color: $white;
      .event-type {
        padding-left: 0.5rem;
        color: $yellow;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
  .search-container {
    margin-top: 1rem;
    .search-input {
      width: 100%;
      padding: 1rem;
      border: 1px solid #FFFFFF;
      .fa-search {
        color: $yellow;
        font-size: 1.3rem;
      }
      .tag-line {
        color: #FFFFFF;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 0.5rem;
      }
    }
  }
}
.space-of-the-week {
  position: absolute;
  bottom: 10px;
  padding: 1rem;
  span {
    color: $white;
    margin-right: 10px;
    .org-name {
      font-weight: 500;
      color: $yellow;
      font-size: 1.5rem;
    }
  }
}
// hero section end

// popular activities start
.popular-activities {

}
.event-box {
  &:last-of-type {
    margin-bottom: 0;
  }
}
.popular-activities-container {
  padding: 1rem;
}
.image-wrapper {
  position: relative;
  .thumb-img {
    position: relative;
  }
  .after-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
  }
}
.event-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  span {
    text-transform: uppercase;
    color: $white;
    font-size: 1.2rem;
    font-weight: 600;
    user-select: none;
    line-height: 1;
  }
}
// popular activities end

// how it works start
.how-it-works {
  background: $white;
}
.how-it-works-container {
  padding: 1rem;
}
.search-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    line-height: 1.1;
    width: 70%;
  }
  .step-heading {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
// how it works end

// user review section start
.user-reviews {
  margin-top: 2rem;
  background: $blue;
  height: 450px;

  .user-review-wrapper {
    display: flex;
    overflow-x: auto;
  }

  .review-box {
    margin: 0 1rem;
    flex: 0 0 300px;
  }

  .section-title {
    color: $white;
    padding: 2rem 1rem;
    margin-bottom: 0;
  }

  .review-header {
    display: flex;
    .name {
      display: block;
      font-weight: 500;
      font-size: 1.2rem;
    }
    .date {
      color: $grey;
      font-size: 0.8rem;
    }
    .image {
      margin-right: 1rem;
    }
  }

  .review-title {
    display: block;
    font-size: 1.1rem;
    color: $blue;
    padding: 1rem 0;
    font-weight: 500;
  }


  @media screen and (min-width: 768px) {
    .user-review-wrapper {
      justify-content: center;
    }
  }
}
// user review section end

// ms-news section
.ms-news {
  margin-top: 1rem;

  .section-title {
    padding: 1rem;
    margin-bottom: 0;
  }
  .news {
    text-align: center;
    padding: 0 2rem;
    font-size: 1.1rem;
  }
  .quote {
    display: block;
    margin: 2rem auto;
    font-size: 2rem;
    color: $grey;
    height: 3rem;
  }
  .news-by {
    padding: 2rem;
    text-align: center;
    color: $grey;
    .name {
      font-weight: bold;
    }
  }
  .news-images {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    .news-image {
      width: 100px;
      margin: 1rem;
    }
  }
}

// end of ms-news section

