<section class="hero is-medium">
  <div class="overlay"></div>
  <div class="hero-body">
    <div class="hero-header-container">
      <h1 class="title">
        Find Your Space
      </h1>
      <h2 class="subtitle">
        Discover & Book Unique Spaces For Your Upcoming<span class="event-type"></span>
      </h2>
    </div>
    <div class="search-container">
      <div class="search-input" (click)="toggleMainSearch()">
        <span><i class="fas fa-search"></i></span>
        <span class="tag-line">What are you looking for?</span>
      </div>
    </div>
  </div>
  <div class="space-of-the-week">
    <span>Space of the week</span>
    <span><a class="org-name">Botanik</a></span>
  </div>
</section>
<section class="popular-activities">
  <div class="container popular-activities-container">
    <span class="section-heading">Popular Activities</span>
    <div class="columns">
      <div class="column is-12-mobile event-box">
        <a href="#">
          <div class="image-wrapper">
            <figure class="image thumb-img">
              <img src="https://res.cloudinary.com/dgcojyezg/image/upload/q_50,fl_progressive/ms-mobile-web/meeting.png">
              <div class="after-overlay"></div>
            </figure>
            <div class="event-name">
              <span>Meeting</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-12-mobile event-box">
        <a href="#">
          <div class="image-wrapper">
            <figure class="image thumb-img">
              <img src="https://res.cloudinary.com/dgcojyezg/image/upload/q_50,fl_progressive/ms-mobile-web/sports.png">
              <div class="after-overlay"></div>
            </figure>
            <div class="event-name">
              <span>Sports</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-12-mobile event-box">
        <a href="#">
          <div class="image-wrapper">
            <figure class="image thumb-img">
              <img src="https://res.cloudinary.com/dgcojyezg/image/upload/q_50,fl_progressive/ms-mobile-web/party.png">
              <div class="after-overlay"></div>
            </figure>
            <div class="event-name">
              <span>Party</span>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-12-mobile event-box">
        <a href="#">
          <div class="image-wrapper">
            <figure class="image thumb-img">
              <img src="https://res.cloudinary.com/dgcojyezg/image/upload/q_50,fl_progressive/ms-mobile-web/coworking.png">
              <div class="after-overlay"></div>
            </figure>
            <div class="event-name">
              <span>Coworking Space</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="how-it-works">
  <div class="container how-it-works-container">
    <span class="section-heading">How It Works</span>
    <div class="columns">
      <div class="column is-12-mobile search-step">
        <figure class="image is-128x128">
          <img src="http://res.cloudinary.com/dgcojyezg/image/upload/v1534746899/ms-mobile-web/search-icon.svg">
        </figure>
        <span class="step-heading">SEARCH</span>
        <p>
          Ex solum impedit iudicabit vel, te nam elitr animal,
          mel no alii errem scripserit. Causae praesent liberavisse eam id
        </p>
      </div>
      <div class="column is-12-mobile search-step">
        <figure class="image is-128x128">
          <img src="http://res.cloudinary.com/dgcojyezg/image/upload/v1534746899/ms-mobile-web/book-icon.svg">
        </figure>
        <span class="step-heading">BOOK</span>
        <p>
          Ex solum impedit iudicabit vel, te nam elitr animal,
          mel no alii errem scripserit. Causae praesent liberavisse eam id
        </p>
      </div>
      <div class="column is-12-mobile search-step">
        <figure class="image is-128x128">
          <img src="http://res.cloudinary.com/dgcojyezg/image/upload/v1534746899/ms-mobile-web/party-icon.svg">
        </figure>
        <span class="step-heading">PARTY</span>
        <p>
          Ex solum impedit iudicabit vel, te nam elitr animal,
          mel no alii errem scripserit. Causae praesent liberavisse eam id
        </p>
      </div>
    </div>
  </div>
</section>
<section class="user-reviews">
  <div class="user-reviews-container">
    <h4 class="title section-title is-4">What People Say</h4>
    <div class="user-review-wrapper container">
      <div class="box review-box" *ngFor="let msReview of msReviews$ | async">
        <div class="review-header">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
          <div>
            <span class="name">Jack</span>
            <div class="date">Feb 2018</div>
          </div>
        </div>
        <div class="rating">Rating</div>
        <span class="review-title">{{ msReview.title }}</span>
        <p>
          Lorem ipsum dolor sit amet, an pro nullam aeterno disputationi, cum et eligendi pericula,
          sit ei propriae theophrastus consequuntur.
          Cum tale inimicus et, est ei iriure epicurei petentium
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ms-news">
  <div class="container ms-news-container">
    <h4 class="title section-title is-4">What News Say</h4>
    <span class="icon quote">
        <i class="fas fa-quote-right"></i>
    </span>
    <p class="news">
      Lorem ipsum dolor sit amet, an pro nullam aeterno disputationi, cum et eligendi pericula,
      sit ei propriae theophrastus consequuntur.
      Cum tale inimicus et, est ei iriure epicurei petentium
      Lorem ipsum dolor sit amet, an pro nullam aeterno disputationi, cum et eligendi pericula,
      sit ei propriae theophrastus consequuntur.
    </p>
    <div class="news-by"><span class="name">John Doe</span></div>
    <div class="news-images">
      <figure class="image news-image">
        <img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1538480223/ms-mobile-web/news/1.png">
      </figure>
      <figure class="image news-image">
        <img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1538480223/ms-mobile-web/news/2.png">
      </figure>
      <figure class="image news-image">
        <img src="https://res.cloudinary.com/dgcojyezg/image/upload/v1538480223/ms-mobile-web/news/3.png">
      </figure>
    </div>
  </div>
</section>

<app-main-search *ngIf="_toggleMainSearch" (toggleMainSearch)="toggleMainSearch($event)"></app-main-search>

