.listing-thumbnail {
  padding: 0.5rem 1rem;
  .image-wrapper {
    position: relative;
  }


  .price-box-wrapper {
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 5px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0), #383838);
    span {
      display: block;
      text-align: right;
      &.price-label {
        font-size: 0.8rem;
      }
      &.price {
        font-size: 1.2rem;
      }
    }
  }

  .info-container {
    padding: 0.5rem;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name-and-org {
      .space-name {
        display: block;
        color: #00beff;
        font-weight: 600;
      }
      .org-name {
        display: block;
        color: #525252;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1;
      }
    }
    .star-rating {
      color: #dddddd;
      .fa-star {
        font-size: 0.8rem;
        padding-right: 2px;
      }
      .checked {
        color: #ffc517;
      }
    }
    .user-count {
      span {
        color: #525252;
      }
      i.fa-user {
        font-weight: inherit;
      }
    }
  }
}
