<div class="listing-thumbnail column is-12-mobile is-6-tablet">
  <a href="#" class="">
    <div class="image-wrapper">
      <figure class="image thumb-img">
        <img src="https://res.cloudinary.com/dgcojyezg/image/upload/w_400,c_scale/f_auto/millionspaces/msk5ge9fzgqitt2wv2jl">
      </figure>
      <div class="price-box-wrapper">
        <span class="price-label">Starting From</span>
        <span class="price">LKR 2000</span>
      </div>
    </div>
    <div class="info-container">
      <div class="name-and-org">
        <span class="space-name">The Gazebo</span>
        <span class="org-name">Cafe Noir Blanc</span>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
      </div>
      <div class="user-count">
        <span class="icon"><i class="fa fa-user"></i></span>
        <span class="count">20</span>
      </div>
    </div>
  </a>
</div>
