<section class="search-container-section">
  <div class="filter-bar">
    <app-space-filter></app-space-filter>
  </div>
  <div class="space-list">
    <app-space-list></app-space-list>
  </div>
</section>
