@charset "utf-8";
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import "./variables";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$family-serif: 'Avenir', sans-serif;
$family-primary: $family-serif;

@import "../node_modules/bulma/sass/utilities/derived-variables";
@import "../node_modules/bulma/sass/utilities/animations";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma/sass/utilities/controls";

@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";


.input {
  box-shadow: none;
  border-radius: 2px;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  box-shadow: none;
}

*{
  //-webkit-tap-highlight-color: rgba(0,0,0,0);
  //-webkit-tap-highlight-color: transparent; /* For some Androids */
}

*:focus {outline:none !important}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: none;
}

.hidden-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden
}

// app spinner
.app-spinner-content {
  position: fixed;
  background-color: $blue;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

