@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
}

@mixin easeOut {
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}


$white: #FFFFFF;
$yellow: #FFDD57;
$red: #EF4136;
$blue: #007AFF;
$light-blue: #06B9EA;
$grey: #6D6E71;


